# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Large model binaries (decide storage strategy)
src/senoquant/tabs/segmentation/models/cpsam/cpsam

# IDE
.idea/
.vscode/

# OS files
.DS_Store

# Local debugging artifacts
out.gv
out.png

# Local resources
res/
