# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
wheelhouse/
site/

# Large model binaries (decide storage strategy)
src/senoquant/tabs/segmentation/models/cpsam/cpsam
src/senoquant/tabs/segmentation/models/default_3d_multihead/best_model_v18.pth
src/senoquant/tabs/segmentation/models/default_3d_stardist/onnx_models/default_3d.onnx
src/senoquant/tabs/spots/ufish_utils/ufish.onnx

# IDE
.idea/
.vscode/

# OS files
.DS_Store

# Local debugging artifacts
out.gv
out.png
coverage.xml
.coverage
.codex-cache/

# Local resources
res/
*.npy

# Installer artifacts
installer/windows/Output/

# Model benchmarking
# model_benchmarking/
*cyto3.pth
*nucleitorch_0

# Logs
*.log
